Django
django_extensions==1.6.1
factory-boy==2.6.0
fake-factory==0.5.3
geopy==1.11.0
python-dateutil
Unipath
GitPython
pycrypto
git+https://github.com/erikvw/django-crypto-fields@develop#egg=django_crypto_fields
git+https://github.com/erikvw/django-revision@develop#egg=django_revision
git+https://github.com/erikvw/edc-base@develop#egg=edc_base
