{% extends 'edc_base/base.html' %}

{% load staticfiles %}

{% block main %}
<div class="container">

    <div id="div-home-right" class="col-md-8">
         <div class="panel panel-default">
		    <div class="panel-heading">Map Clustering</div>
		    <table class="table table-hover responsive">
		      	<tr>
		      		<td><a href="{% url 'edc-map:draw_cluster_url' map_area %}?set_section=section">Divide into sections</a></td>
		      		<td>
		      			<form action="{% url 'edc-map:draw_cluster_url' map_area %}?set_sub_section=sub_section" method="post">
		      				 {% csrf_token %}
							<select id="section_name" name="section_name">
								{% for section in sections %}
								  <option value="{{ section }}">{{ section }}</option>
								{% endfor %}
							</select>
							<input name="submitbutton" type="submit" value="Divide into sub sections" />
						</form>
		      		</td>
		      	</tr>
		 	 </table>
        </div>
        <div class="panel panel-default">
		    <div class="panel-heading">{{map_area}}</div>
		    community map
        </div>
    </div>
    <div id="div-home-right" class="col-md-4">
        <div class="panel panel-default">
        <div class="panel-heading">Administration</div>
        <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'edc-map:edc_map_admin:index' %}">Mapping Admin</a></li>
        </ul>
        </div>
    </div>

</div>
{% endblock main %}