{% extends 'edc_base/base.html' %}

{% load staticfiles %}
{% block extra-scripts %}
	{{ block.super }}
	<style>
		table {
		    font-family: arial, sans-serif;
		    border-collapse: collapse;
		    width: 100%;
		}
		
		td, th {
		    border: 1px solid #dddddd;
		    text-align: left;
		    padding: 8px;
		}
		
		tr:nth-child(even) {
		    background-color: #dddddd;
		}
	</style>
{% endblock extra-scripts %}

{% block main %}
	<div class="container">
		<div class="raw">
    	<div id="div-home-right" class="col-md-8">
    	<div class="panel panel-default">
		    <div class="panel-heading"><h4>Containers</h4></div>
			    <div class="panel-body">
				<table>
					<tr>
						<th>Containers name</th>
						<th>Total items contained</th>
					</tr>
					{% for name, total_items in container_data.items %}
					  <tr>
					    <td>{{name}}</td>
					    <td>{{total_items}}</td>
					  </tr>
					{% endfor %}
				</table>
			</div>
        </div>
        
        <div class="panel panel-default">
		    <div class="panel-heading"><h4>Inner Containers</h4></div>
			    <div class="panel-body">
				<table>
					<tr>
						<th>List of Items</th>
						<th>Device ID</th>
						<th>Container name</th>
						<th>Inner Containers name</th>
						<th>Total items contained</th>
					</tr>
					{% for device_id, container_name, inner_container_name, total_items in inner_container_data %}
					  <tr>
					  	<td>
						  	<a href="{% url 'edc_map:items_list_url' device_id container_name inner_container_name %}">
					        	<span class="glyphicon glyphicon-th-list"></span>
					        </a>
					  	</td>
					  	<td>{{device_id}}</td>
					  	<td>{{container_name}}</td>
					    <td>{{inner_container_name}}</td>
					    <td>{{total_items}}</td>
					  </tr>
					{% endfor %}
				</table>
			</div>
        </div>
        
		</div>
			{% include 'edc_map/admin_stats.html' %}
    	</div>
	</div>
{% endblock main %}
