{% extends "base_map.html" %}


{% block mapping %}
	<H3>{{ mapper.map_area }} Map</H3>
    <table align="center">
	    <tr><td><div id="googleMap" style="width:900px;height:480px;"></div></td></tr>
	</table>			
    <table align="center">
    	<tr align="middle">
    		<td>Section: </td>
    		<td><select id='section-id'>
	    		{% for section in sections %}
	  				<option value="{{section}}">{{section}}</option>
	  			{% endfor %}
			</select></td>
			<td>Sub Section: </td>
			<td><select id='sub-section-id'>
	    		{% for sub_section in sub_sections %}
	  				<option value="{{sub_section}}">{{sub_section}}</option>
	  			{% endfor %}
			</select></td>

			<td>
		    	<button id="save_map_selection" disabled="disabled">Save</button> 
		    	<button id="revert_map" disabled="disabled">Revert</button> 
		    	<button id="clear_map">Clear</button> 
	    	</td>
		</tr>
      </table>
{% endblock mapping %}
      